<h1>Moje úkoly</h1>

<%= link_to "Nový úkol", new_task_path %>

<table>
  <thead>
  <tr>
    <th>Název</th>
    <th>Hotovo?</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.title, task %></td>
      <td><%= task.is_done ? "Ano" : "Ne" %></td>
      <td><%= link_to "Upravit", edit_task_path(task) %></td>
    </tr>
  <% end %>
  </tbody>
</table>